<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <filter>
    <filter-name>LogRequestFilter</filter-name>
    <filter-class>io.github.agebe.rproxy.LogRequestFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>LogRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>

